# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:
- C++
- PHP
- Go
- Ruby
- Visual Basics

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Julia
4. Scala
5. R
6. Java
7. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Scipy

| Data Science Tools |
|--------------------|
| - MySQL |
| - PostgreSQL |
| - IBM Db2 |
| - MongoDB |
| - Apache Cassandre |
| - Apache Hadoop |
| - Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This is a simple arithmetic expression to muliply then add integers
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Edward Jimenez